{deps, [
    {lager, {git, "https://github.com/tsloughter/lager.git", {branch, "otp-28"}}},
    {yamerl, "0.10.0"}
]}.

{plugins, [rebar3_hex, rebar3_run, rebar3_auto]}.

{erl_opts, [
  warn_unused_vars,
  warn_shadow_vars,
  warn_unused_import,
  warn_unused_function,
  warn_bif_clash,
  warn_unused_record,
  warn_deprecated_function,
  warn_obsolete_guard,
  warn_export_vars,
  warn_exported_vars,
  warn_untyped_record,
  debug_info,
  {platform_define, "^[0-9]+", namespaced_types},
  {parse_transform, lager_transform}
]}.

{cover_print_enabled, true}.
{cover_enabled, true}.
{lager_extra_sinks, [audit]}.

{relx, [
  {release, {raptor_launcher, "1.0"}, [
    main, 
    docker_app, 
    common_lib, 
    kafka, 
    chrome, 
    raptors,
    launcher
  ]},
  {vm_args, "config/vm.args"},
  {sys_config, "config/sys.config"},
  {dev_mode, true},
  {include_erts, false}
]}.

{profiles, [
  {prod, [
    {erl_opts, [debug, warn_shadow_vars, warn_obsolete_guard, warn_unused_import, {parse_transform, lager_transform}]},
    {cover_print_enabled, true},
    {cover_enabled, true},
    {lager_extra_sinks, [audit]},
    {relx, [{dev_mode, false}, {sys_config, "config/sys.prod.config"}]}
  ]}
]}.