[{
    lager, [
          {handlers, [
                      {lager_console_backend, [
                          {level, debug},
                          {formatter, lager_default_formatter},
                          {formatter_config, [
                              time, " [", severity, "] ",
                              {module, [module, ":", {function, [":", function]}, ":", {line, [":", line]}], ""},
                              " ", message, "\n"
                          ]}
                      ]},
                      {lager_file_backend, [
                          {file, "log/error.log"}, 
                          {level, error},
                          {formatter, lager_default_formatter},
                          {formatter_config, [
                              time, " [", severity, "] ",
                              {module, [module, ":", {function, [":", function]}, ":", {line, [":", line]}], ""},
                              " ", message, "\n"
                          ]}
                      ]},
                      {lager_file_backend, [
                          {file, "log/console.log"}, 
                          {level, debug},
                          {formatter, lager_default_formatter},
                          {formatter_config, [
                              time, " [", severity, "] ",
                              {module, [module, ":", {function, [":", function]}, ":", {line, [":", line]}], ""},
                              " ", message, "\n"
                          ]}
                      ]}
                     ]},
          {colored, true}
          %% Any other sinks
         ]
 }
].